* { outline: 0; }

html body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

fieldset {
    border:0;
    padding:0;
}

h1 {
    text-align:center;
}

.input {
    padding:10px 6px;
    border-radius:4px;
    border:1px solid #777;
    width:60%;
}

.btn {
    width:30%;
    margin-left:5%;
    background:#fff;
    box-shadow: 1px 1px 3px #ccc;
    cursor:pointer;
}

.btn:active {
    box-shadow: inset 1px 1px 3px #ccc;
}

.content {
    margin:10px;
}

table {
    width:100%;
}

ul {
    padding-left:0;
}

td {
    font-size:1.2em;
    clear:both;
    padding:4px 0;
    list-style:none;
}

tr:nth-child(even){
    background-color:#eee;
}


td p {
    margin:4px 0;
}

.specificity, .number-selectors {
    float:right;
    background-color: #ae1008;
    color:#fff;
    padding:5px;
    margin:0 20px;
    border-radius:5px;
    font-size:0.6em;
}

.number-line {
    float:left;
    background-color: #4aae38;
    color:#fff;
    padding:5px;
    margin:0 20px;
    border-radius:5px;
    font-size:0.6em;
}

.sheet {
    clear:both;
    border:1px #777 solid;
    border-radius:25px;
}

.header-sheet.expanded{
    border-style: solid;
    border-radius:25px 25px 0 0;
}

.header-sheet {
    padding:0 20px 0;
    cursor:pointer;
}

.header-sheet b {
    font-size:1.2em;
}

.expanded .header-sheet {
    border-bottom:1px solid #777;
}

.header-sheet::-webkit-details-marker {
    display:none;
}

pre.rule, pre.selector {
    float:left;
    margin:10px 0 5px;
    border-top:1px solid #777;
    padding-top:5px;
    font-family:'Andale Mono', courier, monospace;
    font-size: .8em;
}

.hidden {
    opacity:0;
    height:0;
    overflow:hidden;
}